{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h2>Voici la liste des posts différents qui existent sur le site</h2>

    <h4 class="titre_tablepost">Liste des Posts</h4>
    <table class="table_post">
        <tr class="table_ligne1">
            <td>Titre</td>
            <td>Contenu</td>
            <td>Date de création</td>
            <td>Date de Modification</td>
            <td>Détail</td>
            <td>Action</td>
        </tr>
        {% for post in posts %}
            <tr class="lignepost">
                <td>{{ post.title }}</td>
                <td>{{ post.content|truncate(20, false, '...') }}</td>
                <td>{{ post.createdAt|date('d/m/Y') }}</td>
                {% if post.updatedAt is not null %}
                    <td>{{ post.updatedAt|date('d/m/Y') }}</td>
                {% elseif post.updatedAt is null %}
                    <td>Non Modifié</td>
                {% endif %}
                <td><a href="{{ path('show_post', { 'id' : post.id, 'userid' : app.user.id }) }}">Voir</a></td>
                <td><a href="{{ path('edit_post', { 'id' : post.id }) }}" class="lien_action">Edit</a>
                    <a class="lien_action" href="{{ path('delete_post', { 'id' : post.id }) }}">Delete</a></td>
            </tr>

        {% endfor %}
    </table>

    <p>Voici le lien pour créer un nouveau post : <a class="lien_nouveau" href="{{ path('new_post') }}">Nouveau</a></p>

{% endblock body %}